/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7b7b7c;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fbfbfc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #181616;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7bb9fa;
    color: rgb(15, 14, 14);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #69b0fd;
}

.resume {
    margin-top: 20px;
}

#resumeContent {
    margin-top: 20px;
}
img{
    width: 90px;
    display: block; margin: auto; max-width: 100%;
    
}